<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="ru.wutiarn.edustor.android"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <application
        android:name=".EdustorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".activity.SubjectsListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginActivity">
        </activity>

        <activity
            android:name=".activity.InitSyncActivity">
        </activity>

        <activity
            android:name=".activity.LessonDetailsActivity"
            android:label="Lesson details"
            android:parentActivityName=".activity.SubjectsListActivity"/>

        <activity
            android:name=".activity.LessonsListActivity"
            android:label="Lessons"
            android:parentActivityName=".activity.SubjectsListActivity"/>

        <service
            android:name=".service.EdustorFirebaseMessagingService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".service.EdustorFirebaseInstanceIdService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".sync.stub.StubAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>

        <service
            android:name=".sync.stub.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter"/>
        </service>

        <service
            android:name=".sync.stub.PdfSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/pdfsyncadapter"/>
        </service>

        <provider
            android:name=".sync.stub.SyncProvider"
            android:authorities="@string/sync_content_provider_authority"
            android:label="@string/sync_adapter_name"
            android:exported="false"
            android:syncable="true"/>

        <provider
            android:name=".sync.stub.PdfSyncProvider"
            android:authorities="@string/pdf_sync_content_provider_authority"
            android:label="@string/pdf_sync_adapter_name"
            android:exported="false"
            android:syncable="true"/>

    </application>

</manifest>
