<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="ru.wutiarn.edustor.android"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".EdustorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appLabel}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".activity.SubjectsListActivity"
            android:label="${appLabel}">
        </activity>

        <activity
            android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LessonDetailsActivity"
            android:label="Lesson details"
            android:parentActivityName=".activity.SubjectsListActivity"/>

        <activity
            android:name=".activity.LessonsListActivity"
            android:label="Lessons"
            android:parentActivityName=".activity.SubjectsListActivity"/>
    </application>

</manifest>
